<div id="divActivity">
    <h2 class="ui dividing header">
        User Activity
    </h2>

    <!-- ko if: activities() === null -->
    <div class="ui center aligned basic segment">
        <i class="grey seedling icon"></i>
        <span class="ui grey text"><i>Loading...</i></span>
    </div>
    <!-- /ko -->

    <!-- ko if: activities() !== null && activities().length == 0 -->
    <div class="ui center aligned basic segment" style="display: none">
        <i class="grey seedling icon"></i>
        <span class="ui grey text"><i>No user activity registered yet.</i></span>
    </div>
    <!-- /ko -->

    <!-- ko if: activities() !== null && activities().length > 0 -->
    <div style="display: none" class="ui container">
        <div class="ui horizontal list" data-bind="foreach: {data: activities, afterRender: initActivityEntry}">
            <div class="item">
                <div class="ui circular image" style="width: 52px"></div>
                <div class="content" style="width: 151px;" data-bind="style: { color: last_login_color }">
                    <!-- ko if: name.length > 0 -->
                    <div style="max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                         data-bind="class: presentationClass()">
                        <b data-bind="attr: {title: description, 'data-tooltip': description, 'data-position': 'top center', 'data-variation': 'tiny'}">
                            <span data-bind="text: name"></span>
                            <span data-bind="text: surname"></span>
                        </b>
                    </div>
                    <!-- /ko -->
                    <div style="max-width: 100%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                         data-bind="class: presentationClass(), style: { 'font-weight': name.length > 0 ? '' : 'bold'}">
                        <span data-bind="text: email, attr: {title: email}"></span>
                    </div>
                    <div data-bind="attr: {'data-tooltip': last_login.format(datetimeFormat), 'data-position': 'bottom center', 'data-variation': 'tiny'}">
                        Last seen <b><span data-bind="text: last_login_text"></span></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>
