<div id="divGroupAdd" style="display: none; margin-bottom: 56px;">
    <h2 class="ui dividing header">Create Group</h2>
    <form class="ui form" data-bind="submit: submitGroup">
        <div class="required field">
            <label for="inputName">Name</label>
            <input id="inputName" type="text" placeholder="Group Name" data-bind="textInput: groupName">
        </div>
        <div class="four fields">
            <div class="required field">
                <label for="inputMaxScopes">Max Scopes</label>
                <input id="inputMaxScopes" type="text" placeholder="*" data-bind="textInput: groupMaxScopes">
            </div>
            <div class="required field">
                <label for="inputMaxViews">Max Views</label>
                <input id="inputMaxViews" type="text" placeholder="*" data-bind="textInput: groupMaxViews">
            </div>
            <div class="required field">
                <label for="inputMaxTargets">Max Targets</label>
                <input id="inputMaxTargets" type="text" placeholder="*" data-bind="textInput: groupMaxTargets">
            </div>
            <div class="required field">
                <label for="inputMaxOwners">Max Owners</label>
                <input id="inputMaxOwners" type="text" placeholder="*" data-bind="textInput: groupMaxOwners">
            </div>
        </div>
        <div class="ui right aligned grid">
            <div class="column">
                <div class="ui right floated buttons">
                    <button class="ui button" type="button" data-bind="click: dispose">Cancel</button>
                    <div class="or"></div>
                    <button class="ui teal button" type="button" data-bind="click: submitGroup">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>