<div id="divGroupAdd" style="display: none; margin-bottom: 56px;">
    <h2 class="ui dividing header">Create Group</h2>
    <form class="ui form" data-bind="submit: submitGroup">

        <div class="two fields">
            <div class="required eight wide field">
                <label for="inputName">Name</label>
                <input id="inputName" type="text" placeholder="Group Name" data-bind="textInput: groupName">
            </div>
            <div class="required eight wide field">
                <label for="selectDatabase">Database</label>
                <select id="selectDatabase" class="ui search dropdown"
                        data-bind="options: databasesAvailable, optionsText: 'name', optionsValue: 'id', optionsCaption:'Please Select', value: databaseSelected">
                    <option value="">Please select</option>
                </select>
            </div>
        </div>

        <div class="four fields">
            <div class="required field">
                <label for="inputMaxScopes">Max Scopes</label>
                <input id="inputMaxScopes" type="text" placeholder="*" data-bind="textInput: groupMaxScopes">
            </div>
            <div class="required field">
                <label for="inputMaxViews">Max Views</label>
                <input id="inputMaxViews" type="text" placeholder="*" data-bind="textInput: groupMaxViews">
            </div>
            <div class="required field">
                <label for="inputMaxTargets">Max Targets</label>
                <input id="inputMaxTargets" type="text" placeholder="*" data-bind="textInput: groupMaxTargets">
            </div>
            <div class="required field">
                <label for="inputMaxOwners">Max Owners</label>
                <input id="inputMaxOwners" type="text" placeholder="*" data-bind="textInput: groupMaxOwners">
            </div>
        </div>

        <div class="ui middle aligned grid">
            <div class="four wide column">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="inputCustom" type="checkbox" data-bind="checked: allowCustom">
                        <label for="inputCustom">
                            Custom Scopes
                            <i class="question circle outline icon"
                               data-html="Allow users to create scan scopes with custom input lists."
                               data-position="right center" data-variation="tiny"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="inputNetwork" type="checkbox" data-bind="checked: allowNetwork">
                        <label for="inputNetwork">
                            Network Imports
                            <i class="question circle outline icon"
                               data-html="Allow users to create scan scopes with inputs imported from the network inventory."
                               data-position="right center" data-variation="tiny"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="inputAsset" type="checkbox" data-bind="checked: allowAsset">
                        <label for="inputAsset">
                            Asset Imports
                            <i class="question circle outline icon"
                               data-html="Allow users to create scan scopes with inputs imported from the asset inventory."
                               data-position="right center" data-variation="tiny"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui right floated buttons">
                    <button class="ui button" type="button" data-bind="click: dispose">Cancel</button>
                    <div class="or"></div>
                    <button class="ui teal button" type="button" data-bind="click: submitGroup">Create</button>
                </div>
            </div>
        </div>

    </form>
</div>