<div class="footer">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui header">Security Tooling</h4>
                <div class="ui link list">
                    <a class="item" href="https://nmap.org/" target="_blank">Nmap Port Scanner</a>
                    <a class="item" href="https://github.com/nabla-c0d3/sslyze" target="_blank">SSLyze SSL Scanner</a>
                </div>
            </div>
            <div class="one wide column">

            </div>
            <div class="eight wide column">
                <h4 class="ui header">Help Improve This Project!</h4>
                <p>Large-Scale Discovery is a service from security professionals for security professionals. Let us
                    know what you think!</p>
                <div data-bind='component: { name: "feedback" }'></div>
            </div>
            <div class="one wide column">

            </div>
            <div class="three wide column">
                <h4 class="ui header">Repositories</h4>
                <div class="ui link list">
                    <a class="item" href="#" target="_blank">Active Directory</a>
                    <a class="item" href="#" target="_blank">Asset Inventory</a>
                    <a class="item" href="#" target="_blank">Network Inventory</a>
                </div>
            </div>
        </div>
    </div>
</div>
