<div class="footer">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui header">Security Tooling</h4>
                <div class="ui link list">
                    <!-- ko foreach: {data: frontendLinks()["tooling"]} -->
                    <a class="item" data-bind="attr: {href: $data.href, target: $data.target}, text: $data.text"></a>
                    <!-- /ko -->
                </div>
            </div>
            <div class="one wide column">

            </div>
            <div class="eight wide column">
                <h4 class="ui header">Help Improve This Project!</h4>
                <p>Large-Scale Discovery is a service from security professionals for security professionals. Let us
                    know what you think!</p>
                <div data-bind='component: { name: "feedback" }'></div>
            </div>
            <div class="one wide column">

            </div>
            <div class="three wide column">
                <h4 class="ui header">Repositories</h4>
                <div class="ui link list">
                    <!-- ko foreach: {data: frontendLinks()["repositories"]} -->
                    <a class="item" data-bind="attr: {href: $data.href, target: $data.target}, text: $data.text"></a>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
